/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* cocogoose */
@import url("https://db.onlinewebfonts.com/c/b4e46f03d0e03a9192dc3c2ad1a4e104?family=Cocogoose");

:root {
  --black: #272a31;
  --red: #ec5242;
  --grey: #d3d3d3;
  --lato: "Lato", sans-serif;
  --coco: "Cocogoose";
}

/* Colors background and text */
.bg-red {
  background-color: var(--red);
}

.bg-black {
  background-color: var(--black);
}

.bg-grey {
  background-color: var(--grey);
}

.text-red {
  color: var(--red);
}

.text-black {
  color: var(--black);
}

.text-grey {
  color: var(--grey);
}

/* font family */
.lato {
  font-family: var(--lato);
}

.coco {
  font-family: var(--coco);
}

.sec-header::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 30px; /* Change this to whatever width you want. */
  padding-top: 10px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid var(--red); /* This creates the border. Replace black with whatever color you want. */
}

.desc::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  width: 15px; /* Change this to whatever width you want. */
  padding-top: 10px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid var(--grey); /* This creates the border. Replace black with whatever color you want. */
}

.subdsc {
  font-size: 13px;
  font-weight: bold;
}

.bpad {
  padding: 20px 100px;
  width: 90%;
}

.bg-lg {
  background-image: url("images/bg-lg.jpg");
  height: auto;
}

.bg-dg {
  background-image: url("images/bg-dg.jpg");
  width: 100%;
  padding: 25px 10px;
}

.transparent {
  font-size: 2em;
}

.title p {
  font-size: 11px;
}

/* Main services */
.services {
  width: 100%;
}

.service {
  background-color: #b6b3b350;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.service h6 {
  text-align: center;
  margin: auto 10px;
  width: 25%;
  text-transform: capitalize;
  align-self: center;
}

.servive img {
  align-self: flex-start;
  width: 25vw;
  height: auto;
  margin: 10px 10px;
}

.service p {
  width: 50vw;
  font-size: 11px;
  align-self: flex-end;
  margin: 10px 10px;
}

/* Our team */
.member {
  display: flex;
  flex-flow: row nowrap;
  margin: 30px 5px;
}

.mem-img {
  position: relative;
  width: 200px;
  background-image: url("images/bw.jpg");
  background-repeat: no-repeat;
  background-position: 25% 10%;
  background-size: 50px;
  margin: 0 20px 10px 0;
}

.mem-img img {
  position: absolute;
  top: 15%;
  left: 25%;
  width: 120px;
  max-height: 90%;
}

.mem-text p {
  font-size: 11px;
}

/* About page */
.event {
  background-image: linear-gradient(var(--red), #ec534285),
    url("images/event.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .background {
    background-color: white;
  }

  .navbar-nav {
    margin: 0 auto;
  }

  /* Main services */
  .services {
    width: 75%;
  }

  .service {
    flex-flow: column nowrap;
    align-items: center;
    width: 24%;
    margin-right: 1px;
  }

  .service h6 {
    width: auto;
  }

  .servive img {
    width: 10px;
    height: 10px;
  }

  .service p {
    width: auto;
  }

  /* Our team */
  .mem-img {
    margin: 0 40px 10px 0;
  }

  .mem-img img {
    height: 60%;
    margin-right: 90px;
  }

  .title {
    width: 75%;
    margin: 0 0 0 150px;
  }

  .title header {
    width: 90%;
  }

  .title p {
    max-width: 85%;
  }

  /* about */
  .title-about {
    width: 75%;
    margin: auto;
  }

  .title-about header {
    width: 50%;
    margin: auto;
  }

  .title-about p {
    max-width: 65%;
    margin: auto;
  }

  .events {
    display: flex;
    flex-flow: row nowrap;
    width: 90%;
    margin: auto;
    justify-content: space-between;
  }
  .event {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  .mem-img {
    margin: 0 10px 10px 0;
  }

  .mem-img img {
    left: 30%;
    height: 90%;
    margin-right: 5px;
  }
  .title header {
    width: 80%;
  }

  .title p {
    max-width: 60%;
  }

  .events {
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
    margin: auto;
    justify-content: space-between;
  }
  .event {
    margin: 0;
  }
}
